name: Vaultwarden Windows Build (Full DB Support)

on:
  workflow_dispatch:
    inputs:
      tag_choice:
        description: "版本选择"
        required: true
        default: "release"
        type: choice
        options:
          - release
          - latest
          - custom
      tag:
        description: "自定义 commit"
        required: false

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: 检查工具版本
        run: git version && cargo version && vcpkg version

      - name: vaultwarden 版本选择
        id: get_tag
        run: |
          if ("${{ github.event.inputs.tag_choice }}" -eq "release") {
            $release = Invoke-RestMethod -Uri "https://api.github.com/repos/dani-garcia/vaultwarden/releases/latest"
            echo "Using release tag: $($release.tag_name)"
            echo "tag=$($release.tag_name)" >> $env:GITHUB_OUTPUT
          } elseif ("${{ github.event.inputs.tag_choice }}" -eq "latest") {
            echo "Using latest commit"
            echo "tag=" >> $env:GITHUB_OUTPUT
          } elseif ("${{ github.event.inputs.tag_choice }}" -eq "custom") {
            echo "Using custom tag: ${{ github.event.inputs.tag }}"
            echo "tag=${{ github.event.inputs.tag }}" >> $env:GITHUB_OUTPUT
          }

      - name: 克隆 vaultwarden 仓库
        run: git clone https://github.com/dani-garcia/vaultwarden

      - name: 切换版本
        if: ${{ steps.get_tag.outputs.tag != '' }}
        run: git switch --detach "${{ steps.get_tag.outputs.tag }}"
        working-directory: vaultwarden

      - name: 下载 web-vault
        run: |
          $Release = Invoke-RestMethod -Uri "https://api.github.com/repos/dani-garcia/bw_web_builds/releases/latest"
          $Asset = $Release.assets | Where-Object { $_.name -like "*.tar.gz" }

          if (-not $Asset) {
            Write-Error "No .tar.gz asset found."
            exit 1
          }

          $DownloadUrl = $Asset.browser_download_url
          $FileName = $Asset.name
          $OutPath = "web-vault"

          Write-Host "Downloading $FileName..."
          Invoke-WebRequest -Uri $DownloadUrl -OutFile $FileName

          Write-Host "Extracting..."
          tar -xf $FileName

      - name: 配置 vcpkg 缓存
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');


      - name: 使用vcpkg安装依赖
        run: |
          vcpkg integrate install
          vcpkg install openssl:x64-windows-static
          vcpkg install libmariadb:x64-windows-static
          vcpkg install libpq:x64-windows-static
        env:
          VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

      - name: 编译 vaultwarden
        run: cargo build --features "sqlite,mysql,postgresql" --release
        working-directory: vaultwarden
        env:
          RUSTFLAGS: "-Ctarget-feature=+crt-static"
          POSTGRESQL_LIB_DIR: "${{ github.workspace }}/vcpkg/installed/x64-windows-static/lib"
          MYSQLCLIENT_VERSION: "3.1.0"
          MYSQLCLIENT_LIB_DIR: "${{ github.workspace }}/vcpkg/installed/x64-windows-static/lib"
          MYSQLCLIENT_INCLUDE_DIR: "${{ github.workspace }}/vcpkg/installed/x64-windows-static/include/mysql/mariadb"

      - name: 移动文件
        run: move .\vaultwarden\target\release\vaultwarden.exe .\vaultwarden.exe

      - name: 下载 .env.template
        run: |
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/dani-garcia/vaultwarden/main/.env.template" -OutFile .env.template

      - name: 版本信息
        id: get_version
        run: |
          $version_output = .\vaultwarden.exe -v
          $vaultwarden_version = ($version_output | Select-String -Pattern "Vaultwarden (\S+)").Matches.Groups[1].Value
          $web_vault_version = ($version_output | Select-String -Pattern "Web-Vault (\S+)").Matches.Groups[1].Value

          echo "vaultwarden_version=$vaultwarden_version" >> $env:GITHUB_OUTPUT
          echo "web_vault_version=$web_vault_version" >> $env:GITHUB_OUTPUT

      - name: 打包所有文件
        run: |
          mkdir temp_package
          copy vaultwarden.exe temp_package
          copy web-vault temp_package
          copy .env.template temp_package
          $archive_name = "vaultwarden-full-${{ steps.get_version.outputs.vaultwarden_version }}-${{ steps.get_version.outputs.web_vault_version }}.tar.gz"
          tar -czvf $archive_name -C temp_package

      - name: 创建 GitHub Release
        if: ${{ github.event.inputs.tag_choice == 'release' || github.event.inputs.tag_choice == 'custom' }}
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.get_version.outputs.vaultwarden_version }}-web-${{ steps.get_version.outputs.web_vault_version }}
          release_name: "v${{ steps.get_version.outputs.vaultwarden_version }}"
          body: |
            ### 构建信息
            - Vaultwarden 版本: `${{ steps.get_version.outputs.vaultwarden_version }}`
            - Web-Vault 版本: `${{ steps.get_version.outputs.web_vault_version }}`
          draft: false
          prerelease: false

      - name: 上传完整压缩包
        if: ${{ github.event.inputs.tag_choice == 'release' || github.event.inputs.tag_choice == 'custom' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./vaultwarden-full-${{ steps.get_version.outputs.vaultwarden_version }}-${{ steps.get_version.outputs.web_vault_version }}.tar.gz
          asset_name: "vaultwarden-${{ steps.get_version.outputs.vaultwarden_version }}-${{ steps.get_version.outputs.web_vault_version }}.tar.gz"
          asset_content_type: application/gzip
