name: Vaultwarden Windows Build (Multi-Arch)

on:
  workflow_dispatch:
    inputs:
      tag_choice:
        description: "版本选择"
        required: true
        default: "release"
        type: choice
        options:
          - release
          - latest
          - custom
      tag:
        description: "自定义 commit"
        required: false

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x86, x64]
        target-triple: [i686-pc-windows-msvc, x86_64-pc-windows-msvc]
        vcpkg_arch: [x86-windows-static, x64-windows-static]
        include:
          - arch: x86
            target-triple: i686-pc-windows-msvc
            vcpkg_arch: x86-windows-static
            bits: 32
          - arch: x64
            target-triple: x86_64-pc-windows-msvc
            vcpkg_arch: x64-windows-static
            bits: 64
    permissions:
      contents: write

    steps:
      - name: 检查工具版本
        run: git version && cargo version && vcpkg version

      - name: 获取版本号
        id: get_tag
        run: |
          if ("${{ github.event.inputs.tag_choice }}" -eq "release") {
            $release = Invoke-RestMethod -Uri "https://api.github.com/repos/dani-garcia/vaultwarden/releases/latest"
            echo "tag=$($release.tag_name)" >> $env:GITHUB_OUTPUT
          } elseif ("${{ github.event.inputs.tag_choice }}" -eq "custom") {
            echo "tag=${{ github.event.inputs.tag }}" >> $env:GITHUB_OUTPUT
          } else {
            echo "tag=" >> $env:GITHUB_OUTPUT
          }

      - name: 克隆仓库
        uses: actions/checkout@v4
        with:
          repository: dani-garcia/vaultwarden
          ref: ${{ steps.get_tag.outputs.tag || 'main' }}
          path: vaultwarden

      - name: 切换版本
        if: ${{ steps.get_tag.outputs.tag != '' }}
        run: git checkout ${{ steps.get_tag.outputs.tag }}
        working-directory: vaultwarden

      - name: 下载 web-vault
        run: |
          $Release = Invoke-RestMethod -Uri "https://api.github.com/repos/dani-garcia/bw_web_builds/releases/latest"
          $Asset = $Release.assets | Where-Object { $_.name -like "web-vault-*.tar.gz" }

          Invoke-WebRequest -Uri $Asset.browser_download_url -OutFile web-vault.tar.gz
          tar -xf web-vault.tar.gz -C web-vault --strip-components=1

      - name: 配置vcpkg
        run: |
          vcpkg integrate install
          vcpkg install openssl:${{ matrix.vcpkg_arch }}
          vcpkg install libmariadb:${{ matrix.vcpkg_arch }}
          vcpkg install libpq:${{ matrix.vcpkg_arch }}
        env:
          VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
          VCPKG_DEFAULT_TRIPLET: ${{ matrix.vcpkg_arch }}

      - name: 缓存vcpkg
        uses: actions/cache@v4
        with:
          path: |
            ~/vcpkg/installed
            ~/vcpkg/buildtrees
          key: ${{ runner.os }}-vcpkg-${{ matrix.arch }}-${{ hashFiles('**/vcpkg.json') }}

      - name: 编译项目
        run: cargo build --features "sqlite,mysql,postgresql" --release --target ${{ matrix.target-triple }}
        working-directory: vaultwarden
        env:
          RUSTFLAGS: "-Ctarget-feature=+crt-static"
          POSTGRESQL_LIB_DIR: "${{ github.workspace }}/vcpkg/installed/${{ matrix.vcpkg_arch }}/lib"
          MYSQLCLIENT_LIB_DIR: "${{ github.workspace }}/vcpkg/installed/${{ matrix.vcpkg_arch }}/lib"
          MYSQLCLIENT_INCLUDE_DIR: "${{ github.workspace }}/vcpkg/installed/${{ matrix.vcpkg_arch }}/include/mysql/mariadb"

      - name: 移动文件
        run: |
          $targetDir = "vaultwarden/target/${{ matrix.target-triple }}/release"
          Move-Item -Path "$targetDir/vaultwarden.exe" -Destination "./vaultwarden-${{ matrix.arch }}.exe"

      - name: 版本检测
        id: version
        run: |
          $version = .\vaultwarden-${{ matrix.arch }}.exe -v | Select-String -Pattern "Vaultwarden (\d+\.\d+\.\d+)"
          echo "version=$($version.Matches.Groups.Value)" >> $env:GITHUB_OUTPUT

      - name: 打包分发
        run: |
          $packageName = "vaultwarden-${{ matrix.arch }}-${{ steps.version.outputs.version }}.zip"
          Compress-Archive -Path "vaultwarden-${{ matrix.arch }}.exe", "web-vault", ".env.template" -DestinationPath $packageName

      - name: 创建Release
        if: ${{ github.event.inputs.tag_choice != 'latest' }}
        uses: softprops/action-gh-release@v2
        with:
          files: |
            vaultwarden-*-${{ steps.version.outputs.version }}.zip
          tag_name: v${{ steps.version.outputs.version }}-${{ matrix.arch }}
          name: "Vaultwarden ${{ steps.version.outputs.version }} (${{ matrix.arch }})"
